<%= link_to "投稿する", new_item_path, class: "post" %>

<% @items.each do |item| %>
  <div class="item">
    <div class="item-category">
      <%= item.category.name %>
    </div>
    <div class="item-title">
      <%= item.title %>
    </div>
    <div class="item-description">
      <%= item.description %>
    </div>
  </div>
<% end %>
